body{
    background-color: #0058cb;
}

.header-section{
    display: flex;
    align-items: center;
}

.intro-text{
    color: white;
    text-align: center;
    font-size: 23px;
}

hr.solid{
    border-top: 3px solid #bbb;

}

.driver{
    padding-top: 12px;
}

.safety-section{
    color: white;
    align-items: center;
}

.safety-title{
    text-align: center;
}

.statistics-section{
    font-size: 23px;
    display: flex;
    text-align: center;
    padding-top: 35px;
}

.safety-picture{
    align-items: center;
}


.school-section{
    background-color: white;
    height: 200px;
    width: 100%;
}
.school-section-title{
    text-align: center;
    color: black;
    font-weight:lighter ;
}

.school-list,li{
    color: rgb(0, 0, 0);
    font-size: 22px;
    text-align: center;
    list-style-type: none;
}

.footer-section{
    background-color:#1c1b1b;
    color: white;
    width: 100%;
    height: 315px;
}

.contact-footer-column{
    height: 100px;
    flex-direction: column;
    justify-content: flex-start;
}

.dev-name{
    font-size: 18px;
}



.footer-title{
    text-align: center;
    font-weight: lighter;
}
