.navbar {
  background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-title {
  color: #ffffff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  border:none; 
  font-weight: 700;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: end;
  margin-right: 2rem;
}

.nav-item {
  
}

.nav-links {
  display: flex;
  align-items: center;
  height: 55px;

}

.nav-item:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

.logo{
  border-radius: 100%;
  width: 50px;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: end;
    margin-right: 2rem;
  }
  
  .nav-item {
    height: 28px;
  }
  
  .nav-links {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #242222;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    align-items: center;
    text-align: center;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #242424;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #ffffff;
    padding: 14px 10px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}

.sign-up-button{
  width:100%;
  padding: 10px 25px;
  border-radius: 15px;
  border:2px solid;
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition-duration: 0.4s;
  font-size: 15px;
  margin-right: 25px;
  font-weight: 700;
}

.sign-up-button:hover{
  background-color: white;
  color: black;
}

.login-btn{
  padding: 10px 25px;
  border-radius: 15px;
  border:2px solid;
  cursor: pointer;
  color: white;
  background-color: transparent;
  transition-duration: 0.4s;
  font-size: 15px;
  font-weight: 700;
}

.login-btn:hover{
  background-color: white;
  color: black;
}

:link{
  border:none;
  color: rgb(95, 95, 95);
  font-size: 25px;
}