.login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.image-container {
    flex: 1;
    padding: 2rem;
    border: 2px solid #000;
    border-radius: 10px;
}

.floating-image {
    width: 100%;
    border-radius: 10px;
}

.login-container {
    flex: 1;
    padding: 2rem;
}

h2 {
    text-align: center;
    margin-bottom: 2rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.button-group {
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 1px solid #000;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
}

    a:hover {
        background-color: #004AAD;
        color: #fff;
    }
