.image{
  border-radius: 25px;
  width: 200px;
}

.image-container{
  border:green solid;
  align-items: center;
}

#small-text{
  text-align: center;
  color: #000;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

#medium-text{
  color: #000;
  border: none;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
}

.section-container {
  width: 350px;
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
}

.button-container{
  padding: 20px;
}

a:hover {
  background-color: #004badca;
  color: #fff !important;
}
