body {
  margin: 0;
}

.column {
  float: left;
  padding: 10px;
}

.column.left {
  width: 20%;
  background-color: rgb(255, 255, 255);
}

.profile-image{
  border-radius: 25px;
  width: 200px;
  margin-left: 50px;
}

.small-images, #fau{
  width: 200px;
  margin-left: 10px;
}

.small-images, #car{
  width: 200px;
  margin-left: 10px;
}

.image-container{
  border:none;
}

#location-text{
  text-align: center;
  color: #000;
  border: none;
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
}

#small-text{
  text-align: left;
  color: #000;
  border: none;
  font-family: Inter;
  font-size: 25px;
  font-weight: 450;
}

#medium-text{
  color: #000;
  border: none;
  font-family: Inter;
  font-size: 32px;
  font-weight: 700;
}

#large-text{
  padding-left: 30px;
  text-align: left;
  color: #fffbfb;
  border: none;
  font-family: Inter;
  font-size: 80px;
  font-weight: 700;
}

.text-container{
  margin: 20px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.727);
  color:black;
  border:10px;
  border-color: rgb(255, 0, 0);
  border-radius: 25px;
}

.left-column {
  width: 350px;
  background-color: rgb(255, 255, 255);
}

.button-container{
  padding: 30px;
}

.button-container:hover{
  background-color: #004bad91;
}

a:hover {
  color: #fff !important;
  background-color: #004bad00 !important;
}

.column.middle {
  width: 50%;
}

.column.right {
  width: 20%;
}

.page::after {
  content: "";
  display: table;
  clear: both;
}