.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.image-container {
  flex: 1;
  padding: 2rem;
  border: 2px solid #000;
  border-radius: 10px;
}

.floating-image {
  width: 100%;
  border-radius: 10px;
}

.login-container {
  flex: 1;
  padding: 2rem;
}

h2 {
  text-align: center;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

a {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  text-decoration: none;
}

a:hover {
  background-color: #004aad;
  color: #fff;
}

.login-button{
  background-color: transparent;
  border-radius: 12px;
  padding: 1rem 3.5rem;
  font-size: 18px;
  color: white;
  border-color: white;
}

.input-group{
  border-radius:12px;
}

.create-account-text{
  font-size: 18px;
}
